body {
	background-position: left top;
	background-size: 100%;
	background-color: #1E1E1E;	
}
.wrapper{
	width: 100%;
	height: 100%;
	position: absolute;
	background-color:;
}

#ptitle{
	float: left;
	color: #ffffff;
	background-size: 100%;
	width: 95%;
	height: 80px;
	padding-right: 40px;
	padding-left: 20px;
	background-color: #1E1E1E;
	padding: 29px 16px;
	text-decoration: none;
	font-size: 54px;
	font-stretch: expanded;
	font-weight: normal;
	font-style: normal;
	font-variant: small-caps;
	font-family: Ostrich Sans;
}

.navbar{
	background-color: #ff4d4d;
	background-size: 100%;
	float:left;
	width: 100%;
	padding-left: 2%;
}

.navbar,a{
	float: left;
	color: #ffffff;
	text-align: center;
	padding: 14px 16px;
	padding-right: 31px;
	padding-left: 31px;
	text-decoration: none;
	font-size: 24px;
	font-stretch: expanded;
	font-weight: 500;
	font-style: normal;
	font-variant: small-caps;
	font-family: Gill Sans, sans-serif;
}

.navbar a:hover {
	color: #1E1E1E;
	background-color: #FFFFFF;
	border-radius: 25px;
}

.set {
	color: #1E1E1E;
	background-color: #FFFFFF;
	border-radius: 25px;
}

.snwrapper{
	width: 100%;
	height: 800px;
	background-color: ;
}

.heading6{
	float: left;
	color: #ffffff;
	background-size: 100%;
	width: 95%;
	height: 80px;
	padding-right: 90px;
	background-color: #1E1E1E;
	text-decoration: none;
	text-align: center;
	font-size: 37px;
	font-stretch: expanded;
	font-weight: normal;
	font-style: normal;
	font-variant: small-caps;
	font-family: Ostrich Sans;
}

.slides5{
	float:left;
	width: 780px;
	padding-left: 20%;
	height: 365px;
}


.space{
	float:left;
	width: 15%;
	height:100%;
	position: ;
	background-color:;
}

.secwrapper{
	float:left;
	width: 70%;
	height: 942%;
	position: ;
	background-color: #F1F1E7;
	border-radius: 7px;
}

.movie40{
	padding-left: 30px;
	float: left;
	max-height: 1100px;
}

.newtitle40{
	float: left;
	color: #696969;
	background-size: 100%;
	width: 99%;
	height: 35px;
	text-decoration: none;
	font-size: 27px;
	font-stretch: expanded;
	font-weight: normal;
	font-style: normal;
	font-variant: small-caps;
	font-family: Courier New, monospace;
}

.post40{
	width: 310px;
	height: 460px;
	float: left;
}

.info{
	padding-left: 330px;
	padding-right: 20px;
	color: #696969;
	font-size: 15px;
	font-family: Courier New, monospace;
	font-weight: 500;
	font-variant: normal;
	font-stretch: semi-condensed;
	font-style: normal;
	padding-bottom: 10px;
}

#mor40{
	display: none;
}

#myButton40{
	width: 140px;
	height: 40px;
	background-color: #fa9ea2;
	color: #696969;
	font-size: 16px;
	font-family: Courier New, monospace;
}

.movie39{
	padding-left: 30px;
	float: left;
	max-height: 1100px;
}

.newtitle39{
	float: left;
	color: #696969;
	background-size: 100%;
	width: 99%;
	height: 35px;
	text-decoration: none;
	font-size: 27px;
	font-stretch: expanded;
	font-weight: normal;
	font-style: normal;
	font-variant: small-caps;
	font-family: Courier New, monospace;
}

.post39{
	width: 310px;
	height: 460px;
	float: left;
}

#mor39 {
	display: none;
}

#myButton39{
	width: 140px;
	height: 40px;
	background-color: #fa9ea2;
	color: #696969;
	font-size: 16px;
	font-family: Courier New, monospace;
}

.movie38{
	padding-left: 30px;
	float: left;
	max-height: 1100px;
}

.newtitle38{
	float: left;
	color: #696969;
	background-size: 100%;
	width: 99%;
	height: 35px;
	text-decoration: none;
	font-size: 27px;
	font-stretch: expanded;
	font-weight: normal;
	font-style: normal;
	font-variant: small-caps;
	font-family: Courier New, monospace;
}

.post38{
	width: 310px;
	height: 460px;
	float: left;
}

#mor38 {
	display: none;
}

#myButton38{
	width: 140px;
	height: 40px;
	background-color: #fa9ea2;
	color: #696969;
	font-size: 16px;
	font-family: Courier New, monospace;
}

.movie37{
	padding-left: 30px;
	float: left;
	max-height: 1100px;
}

.newtitle37{
	float: left;
	color: #696969;
	background-size: 100%;
	width: 99%;
	height: 35px;
	text-decoration: none;
	font-size: 27px;
	font-stretch: expanded;
	font-weight: normal;
	font-style: normal;
	font-variant: small-caps;
	font-family: Courier New, monospace;
}

.post37{
	width: 310px;
	height: 460px;
	float: left;
}

#mor37 {
	display: none;
}

#myButton37{
	width: 140px;
	height: 40px;
	background-color: #fa9ea2;
	color: #696969;
	font-size: 16px;
	font-family: Courier New, monospace;
}
.movie36{
	padding-left: 30px;
	float: left;
	max-height: 1100px;
}

.newtitle36{
	float: left;
	color: #696969;
	background-size: 100%;
	width: 99%;
	height: 35px;
	text-decoration: none;
	font-size: 27px;
	font-stretch: expanded;
	font-weight: normal;
	font-style: normal;
	font-variant: small-caps;
	font-family: Courier New, monospace;
}

.post36{
	width: 310px;
	height: 460px;
	float: left;
}

#mor36{
	display: none;
}

#myButton36{
	width: 140px;
	height: 40px;
	background-color: #fa9ea2;
	color: #696969;
	font-size: 16px;
	font-family: Courier New, monospace;
}

.movie35{
	padding-left: 30px;
	float: left;
	max-height: 1100px;
}

.newtitle35{
	float: left;
	color: #696969;
	background-size: 100%;
	width: 99%;
	height: 35px;
	text-decoration: none;
	font-size: 27px;
	font-stretch: expanded;
	font-weight: normal;
	font-style: normal;
	font-variant: small-caps;
	font-family: Courier New, monospace;
}

.post35{
	width: 310px;
	height: 460px;
	float: left;
}

#mor35{
	display: none;
}

#myButton35{
	width: 140px;
	height: 40px;
	background-color: #fa9ea2;
	color: #696969;
	font-size: 16px;
	font-family: Courier New, monospace;
}

.movie34{
	padding-left: 30px;
	float: left;
	max-height: 1100px;
}

.newtitle34{
	float: left;
	color: #696969;
	background-size: 100%;
	width: 99%;
	height: 35px;
	text-decoration: none;
	font-size: 27px;
	font-stretch: expanded;
	font-weight: normal;
	font-style: normal;
	font-variant: small-caps;
	font-family: Courier New, monospace;
}

.post34{
	width: 310px;
	height: 460px;
	float: left;
}

#mor34{
	display: none;
}

#myButton34{
	width: 140px;
	height: 40px;
	background-color: #fa9ea2;
	color: #696969;
	font-size: 16px;
	font-family: Courier New, monospace;
}

.movie33{
	padding-left: 30px;
	float: left;
	max-height: 1100px;
}

.newtitle33{
	float: left;
	color: #696969;
	background-size: 100%;
	width: 99%;
	height: 35px;
	text-decoration: none;
	font-size: 27px;
	font-stretch: expanded;
	font-weight: normal;
	font-style: normal;
	font-variant: small-caps;
	font-family: Courier New, monospace;
}

.post33{
	width: 310px;
	height: 460px;
	float: left;
}

#mor33{
	display: none;
}

#myButton33{
	width: 140px;
	height: 40px;
	background-color: #fa9ea2;
	color: #696969;
	font-size: 16px;
	font-family: Courier New, monospace;
}

.movie32{
	padding-left: 30px;
	float: left;
	max-height: 1100px;
}

.newtitle32{
	float: left;
	color: #696969;
	background-size: 100%;
	width: 99%;
	height: 35px;
	text-decoration: none;
	font-size: 27px;
	font-stretch: expanded;
	font-weight: normal;
	font-style: normal;
	font-variant: small-caps;
	font-family: Courier New, monospace;
}

.post32{
	width: 310px;
	height: 460px;
	float: left;
}

#mor32{
	display: none;
}

#myButton32{
	width: 140px;
	height: 40px;
	background-color: #fa9ea2;
	color: #696969;
	font-size: 16px;
	font-family: Courier New, monospace;
}

.movie31{
	padding-left: 30px;
	float: left;
	height: 1040px;
}

.newtitle31{
	float: left;
	color: #696969;
	background-size: 100%;
	width: 99%;
	height: 35px;
	text-decoration: none;
	font-size: 27px;
	font-stretch: expanded;
	font-weight: normal;
	font-style: normal;
	font-variant: small-caps;
	font-family: Courier New, monospace;
}

.post31{
	width: 310px;
	height: 460px;
	float: left;
}

#mor31{
	display: none;
}

#myButton31{
	width: 140px;
	height: 40px;
	background-color: #fa9ea2;
	color: #696969;
	font-size: 16px;
	font-family: Courier New, monospace;
}

.next {
    text-decoration: none;
    display: inline-block;
	text-align: center;
    padding: 8px 16px;
	background-color: #ff4d4d;
	float: left;
	padding-right: 20px;
	font-size: 20px;
	font-stretch: expanded;
	font-weight: 500;
	font-style: normal;
	font-variant: small-caps;
	font-family: Gill Sans, sans-serif;
	border-radius:15px;
}

a:hover {
    background-color: #FFFFFF;
    color: #1E1E1E;
}

#sets{
	background-color: #FFFFFF;
    color: #1E1E1E;
}

.previous {
    background-color: #FFFFFF;
	text-align: center;
    color: #1E1E1E;
	text-decoration: none;
    display: inline-block;
    padding: 8px 16px;
	background-color: #ff4d4d;
	float: left;
	padding-right: 20px;
	font-size: 20px;
	font-stretch: expanded;
	font-weight: 500;
	font-style: normal;
	font-variant: small-caps;
	font-family: Gill Sans, sans-serif;
	border-radius:15px;
}
