body {
	background-position: left top;
	background-size: 100%;
	background-color: #1E1E1E;	
}
.wrapper{
	width: 100%;
	height: 100%;
	position: absolute;
	background-color:;
}

#ptitle{
	float: left;
	color: #ffffff;
	background-size: 100%;
	width: 95%;
	height: 80px;
	padding-right: 40px;
	padding-left: 20px;
	background-color: #1E1E1E;
	padding: 29px 16px;
	text-decoration: none;
	font-size: 54px;
	font-stretch: expanded;
	font-weight: normal;
	font-style: normal;
	font-variant: small-caps;
	font-family: Ostrich Sans;
}

.navbar{
	background-color: #ff4d4d;
	background-size: 100%;
	float:left;
	width: 100%;
	padding-left: 2%;
}

.navbar,a{
	float: left;
	color: #ffffff;
	text-align: center;
	padding: 14px 16px;
	padding-right: 31px;
	padding-left: 31px;
	text-decoration: none;
	font-size: 24px;
	font-stretch: expanded;
	font-weight: 500;
	font-style: normal;
	font-variant: small-caps;
	font-family: Gill Sans, sans-serif;
}

.navbar a:hover {
	color: #1E1E1E;
	background-color: #FFFFFF;
	border-radius: 25px;
}

.set {
	color: #1E1E1E;
	background-color: #FFFFFF;
	border-radius: 25px;
}

.sxwrapper{
	width: 100%;
	height: 800px;
	background-color: ;
}

.heading5{
	float: left;
	color: #ffffff;
	background-size: 100%;
	width: 95%;
	height: 80px;
	padding-right: 90px;
	background-color: #1E1E1E;
	text-decoration: none;
	text-align: center;
	font-size: 37px;
	font-stretch: expanded;
	font-weight: normal;
	font-style: normal;
	font-variant: small-caps;
	font-family: Ostrich Sans;
}

.slides4{
	float:left;
	width: 780px;
	padding-left: 20%;
	height: 365px;
}

.space{
	float:left;
	width: 15%;
	height:100%;
	position: ;
	background-color:;
}

.secwrapper{
	float:left;
	width: 70%;
	height: 930%;
	position: sticky;
	background-color: #F1F1E7;
	border-radius: 7px;
}

.moviefo{
	padding-left: 30px;
	float: left;
	max-height: 970px;
}

.mtitle{
	float: left;
	color: #696969;
	background-size: 100%;
	width: 99%;
	height: 35px;
	text-decoration: none;
	font-size: 27px;
	font-stretch: expanded;
	font-weight: normal;
	font-style: normal;
	font-variant: small-caps;
	font-family: Courier New, monospace;
}

.poster{
	width: 310px;
	height: 460px;
	float: left;
}

.info{
	padding-left: 330px;
	padding-right: 20px;
	color: #696969;
	font-size: 15px;
	font-family: Courier New, monospace;
	font-weight: 500;
	font-variant: normal;
	font-stretch: semi-condensed;
	font-style: normal;
	padding-bottom: 10px;
	position: sticky;
}

#more {
	display: none;
}

#myBtn{
	width: 140px;
	height: 40px;
	background-color: #fa9ea2;
	color: #696969;
	font-size: 16px;
	font-family: Courier New, monospace;
}

.moviefo49{
	padding-left: 30px;
	float: left;
	max-height: 970px;
}

.mtitle49{
	float: left;
	color: #696969;
	background-size: 100%;
	width: 99%;
	height: 35px;
	text-decoration: none;
	font-size: 27px;
	font-stretch: expanded;
	font-weight: normal;
	font-style: normal;
	font-variant: small-caps;
	font-family: Courier New, monospace;
}

.poster49{
	width: 310px;
	height: 460px;
	float: left;
}

#more49 {
	display: none;
}

#button{
	width: 140px;
	height: 40px;
	background-color: #fa9ea2;
	color: #696969;
	font-size: 16px;
	font-family: Courier New, monospace;
}

.moviefo48{
	padding-left: 30px;
	float: left;
	max-height: 970px;
}

.mtitle48{
	float: left;
	color: #696969;
	background-size: 100%;
	width: 99%;
	height: 35px;
	text-decoration: none;
	font-size: 27px;
	font-stretch: expanded;
	font-weight: normal;
	font-style: normal;
	font-variant: small-caps;
	font-family: Courier New, monospace;
}

.poster48{
	width: 310px;
	height: 460px;
	float: left;
}

#more48 {
	display: none;
}

#button48{
	width: 140px;
	height: 40px;
	background-color: #fa9ea2;
	color: #696969;
	font-size: 16px;
	font-family: Courier New, monospace;
}

.moviefo47{
	padding-left: 30px;
	float: left;
	max-height: 970px;
}

.mtitle47{
	float: left;
	color: #696969;
	background-size: 100%;
	width: 99%;
	height: 35px;
	text-decoration: none;
	font-size: 27px;
	font-stretch: expanded;
	font-weight: normal;
	font-style: normal;
	font-variant: small-caps;
	font-family: Courier New, monospace;
}

.poster47{
	width: 310px;
	height: 460px;
	float: left;
}

#more47 {
	display: none;
}

#button47{
	width: 140px;
	height: 40px;
	background-color: #fa9ea2;
	color: #696969;
	font-size: 16px;
	font-family: Courier New, monospace;
}
.moviefo46{
	padding-left: 30px;
	float: left;
	max-height: 970px;
}

.mtitle46{
	float: left;
	color: #696969;
	background-size: 100%;
	width: 99%;
	height: 35px;
	text-decoration: none;
	font-size: 27px;
	font-stretch: expanded;
	font-weight: normal;
	font-style: normal;
	font-variant: small-caps;
	font-family: Courier New, monospace;
}

.poster46{
	width: 310px;
	height: 460px;
	float: left;
}

#more46{
	display: none;
}

#button46{
	width: 140px;
	height: 40px;
	background-color: #fa9ea2;
	color: #696969;
	font-size: 16px;
	font-family: Courier New, monospace;
}

.moviefo45{
	padding-left: 30px;
	float: left;
	max-height: 970px;
}

.mtitle45{
	float: left;
	color: #696969;
	background-size: 100%;
	width: 99%;
	height: 35px;
	text-decoration: none;
	font-size: 27px;
	font-stretch: expanded;
	font-weight: normal;
	font-style: normal;
	font-variant: small-caps;
	font-family: Courier New, monospace;
}

.poster45{
	width: 310px;
	height: 460px;
	float: left;
}

#more45{
	display: none;
}

#button45{
	width: 140px;
	height: 40px;
	background-color: #fa9ea2;
	color: #696969;
	font-size: 16px;
	font-family: Courier New, monospace;
}

.moviefo44{
	padding-left: 30px;
	float: left;
	max-height: 970px;
}

.mtitle44{
	float: left;
	color: #696969;
	background-size: 100%;
	width: 99%;
	height: 35px;
	text-decoration: none;
	font-size: 27px;
	font-stretch: expanded;
	font-weight: normal;
	font-style: normal;
	font-variant: small-caps;
	font-family: Courier New, monospace;
}

.poster44{
	width: 310px;
	height: 460px;
	float: left;
}

#more44{
	display: none;
}

#button44{
	width: 140px;
	height: 40px;
	background-color: #fa9ea2;
	color: #696969;
	font-size: 16px;
	font-family: Courier New, monospace;
}

.moviefo43{
	padding-left: 30px;
	float: left;
	max-height: 970px;
}

.mtitle43{
	float: left;
	color: #696969;
	background-size: 100%;
	width: 99%;
	height: 35px;
	text-decoration: none;
	font-size: 27px;
	font-stretch: expanded;
	font-weight: normal;
	font-style: normal;
	font-variant: small-caps;
	font-family: Courier New, monospace;
}

.poster43{
	width: 310px;
	height: 460px;
	float: left;
}

#more43{
	display: none;
}

#button43{
	width: 140px;
	height: 40px;
	background-color: #fa9ea2;
	color: #696969;
	font-size: 16px;
	font-family: Courier New, monospace;
}

.moviefo42{
	padding-left: 30px;
	float: left;
	max-height: 970px;
}

.mtitle42{
	float: left;
	color: #696969;
	background-size: 100%;
	width: 99%;
	height: 35px;
	text-decoration: none;
	font-size: 27px;
	font-stretch: expanded;
	font-weight: normal;
	font-style: normal;
	font-variant: small-caps;
	font-family: Courier New, monospace;
}

.poster42{
	width: 310px;
	height: 460px;
	float: left;
}

#more42{
	display: none;
}

#button42{
	width: 140px;
	height: 40px;
	background-color: #fa9ea2;
	color: #696969;
	font-size: 16px;
	font-family: Courier New, monospace;
}

.moviefo41{
	padding-left: 30px;
	float: left;
	height: 1020px;
}

.mtitle41{
	float: left;
	color: #696969;
	background-size: 100%;
	width: 99%;
	height: 35px;
	text-decoration: none;
	font-size: 27px;
	font-stretch: expanded;
	font-weight: normal;
	font-style: normal;
	font-variant: small-caps;
	font-family: Courier New, monospace;
}

.poster41{
	width: 310px;
	height: 460px;
	float: left;
}

#more41{
	display: none;
}

#button41{
	width: 140px;
	height: 40px;
	background-color: #fa9ea2;
	color: #696969;
	font-size: 16px;
	font-family: Courier New, monospace;
}

.nxt {
    text-decoration: none;
    display: inline-block;
	text-align: center;
    padding: 8px 16px;
	background-color: #ff4d4d;
	float: left;
	padding-right: 20px;
	font-size: 20px;
	font-stretch: expanded;
	font-weight: 500;
	font-style: normal;
	font-variant: small-caps;
	font-family: Gill Sans, sans-serif;
	border-radius:15px;
}

a:hover {
    background-color: #FFFFFF;
    color: #1E1E1E;
}

#sts{
	background-color: #FFFFFF;
    color: #1E1E1E;
}

.prev {
    background-color: #FFFFFF;
	text-align: center;
    color: #1E1E1E;
	text-decoration: none;
    display: inline-block;
    padding: 8px 16px;
	background-color: #ff4d4d;
	float: left;
	padding-right: 20px;
	font-size: 20px;
	font-stretch: expanded;
	font-weight: 500;
	font-style: normal;
	font-variant: small-caps;
	font-family: Gill Sans, sans-serif;
	border-radius:15px;
}


